@import "tailwindcss";

:root {
    font-size: 1.1rem;
}


@theme {
    --color-primary: color-mix(
        in oklab,
        var(--color-mist-100) /* oklch(96.3% 0.002 197.1) = #f1f3f3 */ 90%,
        transparent
    );
    --color-secondary: color-mix(
        in oklab,
        var(--color-gray-950) /* oklch(13% 0.028 261.692) = #030712 */ 80%,
        transparent
    );
}
